# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# macOS directory metadata
.DS_Store

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Compiled presentations (standalone HTML, several MB each)
*.html
